<!-- confirmation.hbs -->
<div class="modal fade" id="successModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
      </div>
      <div class="modal-body">
        <p>Thank you for your registration.Please print this confirmation page and note:</p>
        <ul><li>Tickets are while supplies last</li>
        <li> First come, first served
        </li>
        <li>District 3 residents only</li>
        <li>Limit one ticket per person</li>
        <li> Non-King residentes- Please register online, print the confirmation page and collect your ticket at City Hall between Tuesday March 24 and Thursday March 26. Ask for Vanessa</li>
        <li>There will be no tickets available at the door</li>
        <li>Tamarac shuttle bus will be on Standby to RETURN guests from Diner to KINGS POINT community after the social</li></ul>



        
      </div>
    </div>
  </div>
</div>

<script>
  var modal = new bootstrap.Modal(document.getElementById('successModal'));
  modal.show();
</script>
