<!-- confirmation.hbs -->
<div class="modal fade" id="successModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
      </div>
      <div class="modal-body">
        <p>Thank you for your registration. Please note:</p>
        <ul><li>Tickets are while supplies last</li>
        <li> First come, first served
        </li>
        <li>District 3 residents only</li>
        <li>Limit one ticket per person</li>
        <li> Tickets must be redeemed on Monday March 30 from 4:00PM -6:00PM</li>
        <li>Ticket pickup Location will be emailed at a later time</li></ul>
      </div>
    </div>
  </div>
</div>

<script>
  var modal = new bootstrap.Modal(document.getElementById('successModal'));
  modal.show();
</script>
